In [27]:
import pandas as pd
import pickle
import numpy as np

df = pd.read_csv("C:/Users/wasadmin/Desktop/Starwarsapi3/GuidedAssignment3/troop_movements.csv", index_col=False)

df2 = df.groupby(['empire_or_resistance']).size()

info = [['empire',df2[0]], ['resistance',df2[1]]]
df3 = pd.DataFrame(info, columns = ['empire_or_resistance', 'count'])
df3

  empire_or_resistance  count
0               empire    491
1           resistance    509

In [28]:
df2 = df.groupby(['homeworld'])['homeworld'].count()
df2 = df2.to_frame()
df2 = df2.rename(columns={"homeworld": "Homeworld", "homeworld":"count"})
df2 = df2.reset_index()
df2

       homeworld  count
0       Alderaan     23
1    Aleen Minor     21
2     Bestine IV     19
3          Cerea     18
4       Champala     29
5      Chandrila     29
6   Concord Dawn     26
7       Corellia     27
8        Dagobah     19
9       Dathomir     28
10         Dorin     24
11        Eriadu     17
12   Glee Anselm     20
13    Haruun Kal     24
14       Iktotch     35
15      Iridonia     19
16         Kalee     31
17      Kashyyyk     18
18     Malastare     23
19        Mirial     27
20      Mon Cala     24
21    Muunilinst     25
22         Naboo     25
23          Ojom     25
24       Quermia     20
25         Rodia     25
26        Ryloth     23
27       Serenno     32
28         Shili     24
29         Skako     19
30       Socorro     21
31       Stewjon     23
32       Sullust     20
33      Tatooine     22
34       Tholoth     24
35      Toydaria     26
36     Trandosha     28
37       Troiken     21
38          Tund     14
39        Umbara     30
40       Vulpter     23
41         Zolan     29

In [29]:
df2 = df.groupby(['unit_type'])['unit_type'].count()
df2 = df2.to_frame()
df2 = df2.rename(columns={"unit_type": "Unit_type", "unit_type":"count"})
df2 = df2.reset_index()
df2

            unit_type  count
0               at-at    125
1               at-st    107
2  resistance_soldier    116
3        stormtrooper    124
4         tie_fighter    135
5        tie_silencer    120
6             unknown    154
7              x-wing    119

In [31]:
df['is_resistance'] = np.where(df['empire_or_resistance'] == 'resistance', 'True', 'False')
df

,timestamp,unit_id,unit_type,empire_or_resistance,location_x,location_y,destination_x,destination_y,homeworld,is_resistance
0,2023-07-11 14:12:09,1,at-st,empire,8,2,5,10,Mirial,False
1,2023-07-11 14:12:08,2,unknown,resistance,8,4,4,10,Iktotch,True
2,2023-07-11 14:12:07,3,x-wing,empire,10,10,8,7,Cerea,False
3,2023-07-11 14:12:06,4,tie_fighter,empire,3,9,9,3,Toydaria,False
4,2023-07-11 14:12:05,5,tie_fighter,empire,2,4,2,9,Concord Dawn,False
...,...,...,...,...,...,...,...,...,...,...
995,2023-07-11 13:55:34,996,at-st,empire,9,10,9,9,Champala,False
996,2023-07-11 13:55:33,997,resistance_soldier,resistance,1,10,3,9,Vulpter,True
997,2023-07-11 13:55:32,998,stormtrooper,resistance,2,1,1,4,Quermia,True
998,2023-07-11 13:55:31,999,at-st,empire,2,9,10,8,Skako,False
999,2023-07-11 13:55:30,1000,stormtrooper,empire,6,5,6,6,Ryloth,False